<!DOCTYPE html>
<html>
<head>
<style>
table,th,tr {  border: 1px solid black;}
</style>
<head>
<body style="background-color:orange">
<br>
<br>
<br>
<a href="http://www.w3schools.com" target="_blank"><p style="color:black;text-align:center;font-size:200%"><q>lets see what we have</q></p></a>
<table style="width:100%" >
<tr>
<th><a href="http://127.0.0.1:5001/name" target="_blank">NAME</a><th>
<th><a href="http://127.0.0.1:5001/profile" target="_blank">PROFILE</a></th>
<th><a href="http://127.0.0.1:5001/blog" target="_blank">BLOG</a></th>
</tr>
</table>
</body>
</html>
